@tailwind base;
@tailwind components;
@tailwind utilities;

/* General styles tailwind */
@layer base {
  html {
    @apply font-montserrat ;
  }
  main {
    background-color: #ededed;
    color: #910700;
  }
  header, footer {
    @apply bg-[#7aac5d]  text-secondary;
  }
}


/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* colors */

  --black-700: #171717;
  --bg: #f3e7ce;
  --danger: #c63f38;
  --highlight: #fd7e14;
  --highlight-200: #ffa94d;
  --primary: #7aac5d;
  --secondary: #28492f;
  --surface: #f3e7ce;
  --surface-200: #fbf7ef;
  --disabled: #908f83;
  --blue-600: #1d50c0;


  /* distances */
  --dist-500: .5rem;

}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}


/* todo change the properties */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

header, footer {
  padding: 1rem;
} 

header {
  box-shadow: 0 2px var(--dist-500) var(--black-700);
}
