@tailwind base;
@tailwind components;
@tailwind utilities;


/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* colors */

  --black-700: #171717;
  --bg: #f3e7ce;
  --danger: #c63f38;
  --highlight: #fd7e14;
  --highlight-200: #ffa94d;
  --primary: #7aac5d;
  --secondary: #28492f;
  --surface: #f3e7ce;
  --surface-200: #fbf7ef;
  --disabled: #908f83;


  /* generals */ 
  --bgBody: var(--bg);
  --bgHeader: var(--primary);
  --headerColor: var(--primary);

  /* distances */
  --dist-500: .5rem;

}

/* todo change the properties */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--bg);
  color: var(--black-700);
  font-family: Arial, Helvetica, sans-serif;
}

header, footer {
  background-color: var(--bgHeader);
  padding: 1rem;
} 

header {
  box-shadow: 0 2px var(--dist-500) var(--black-700);
}
