/* components/layout/Header/Header.module.css */

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

